<div class='container'>
  <div class='jumbotron'>
    <h1>Eli5</h1>
    <p>
      Need temporary storage for some of your stuff?<br>
      Have extra space and want to make some money?
    </p>
    <p>
      StoreItFor.Me safely connects folks together to easily rent storeage space on your terms.<br>
      You set the time, price, and place. We take care of the rest.
    </p>
    <p>
      <%= link_to 'Need Space', '#', class: 'btn btn-material-indigo btn-raised btn-lg' %>
      <%= link_to 'Got Space', '#', class: 'btn btn-flat btn-material-indigo btn-default btn-raised btn-lg' %>
    </p>
  </div>
</div>
