<div class='container'>
  <div class='main-wrapper'>
    <div class='row'>
      <div class='text-center'>
        <div class='large-brand'>Tell 'Em About It</div>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-12 text-center'>
        <%= link_to '#', class: 'btn btn-material-indigo btn-raised btn-lg' do %>
          <i class='fa fa-apple'></i> Available on the AppStore
        <% end %>
      </div>
    </div>
  </div>
</div>

<style>
  .main-wrapper { margin-top: 40px; }
  .large-brand { font-size: 40px; margin-bottom: 30px; color: #3F51B5; }
</style>
